@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body {
    background-color: black;
}

#canvasID {
    display: block;
    margin: auto;
    width: 100%;
    border: 1px solid gray;
}